<center>
    <h1>All Products</h1>
</center>
<div class="container   ">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Descrição</td>
                <td>Preço</td>
                <td>Quantidade</td>
                <td colspan="1">
            </tr>
        </thead>
        <tbody>
            <% @products.each do |produto| %>
                <tr>
                    <td><%= produto.name %></td>
                    <td><%= produto.description %></td>
                    <td><%= produto.price %></td>
                    <td><%= produto.quantity%></td>
                    <td><%= button_to("Remover", produto, :method => "delete", :class => "btb btn-danger", :data => {confirm: "are u sure to remove #{produto.name}?",})%></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>